In [1]:
from pyspark import SparkContext, SparkConf

In [2]:
from pyspark.sql import SQLContext

In [3]:
config = SparkConf().setMaster("local[*]").setAppName("MovieDataAnalysis")

In [4]:
scontext = SparkContext(conf = config)

In [5]:
sparksql = SQLContext(scontext)

In [45]:
movieDf = sparksql.read.format("csv").option("delimiter","\t").load("u.data")

In [46]:
print(type(movieDf))

<class 'pyspark.sql.dataframe.DataFrame'>

In [85]:
print(movieDf.count())

100000

In [73]:
movieDf.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)

In [80]:
movieList = movieDf.take(10)

In [81]:
for movie in movieList:
    print(movie[0], movie[1], movie[3])

196 242 881250949
186 302 891717742
22 377 878887116
244 51 880606923
166 346 886397596
298 474 884182806
115 265 881171488
253 465 891628467
305 451 886324817
6 86 883603013

In [82]:
movieDfdistinct = movieDf.distinct()

In [84]:
print(movieDfdistinct.count())

100000

In [92]:
movieDfsample = movieDf.sample(False,0.6)

In [93]:
print(movieDfsample.count())

60016

In [94]:
movieDfsample.take(10)

[Row(_c0='186', _c1='302', _c2='3', _c3='891717742'),
 Row(_c0='22', _c1='377', _c2='1', _c3='878887116'),
 Row(_c0='115', _c1='265', _c2='2', _c3='881171488'),
 Row(_c0='253', _c1='465', _c2='5', _c3='891628467'),
 Row(_c0='305', _c1='451', _c2='3', _c3='886324817'),
 Row(_c0='62', _c1='257', _c2='2', _c3='879372434'),
 Row(_c0='286', _c1='1014', _c2='5', _c3='879781125'),
 Row(_c0='200', _c1='222', _c2='5', _c3='876042340'),
 Row(_c0='210', _c1='40', _c2='3', _c3='891035994'),
 Row(_c0='224', _c1='29', _c2='3', _c3='888104457')]