### Dictionary example

In [10]:
dict1 = {'A' : [1,5,7,20], 'B':[7,9,11,15]}

In [5]:
dict1['B'][3]

15

#### Rename Key

In [13]:
dict1['C'] = dict1.pop('A')

In [14]:
dict1

{'B': [7, 9, 11, 15], 'C': [1, 5, 7, 20]}

In [15]:
dict1.keys()

dict_keys(['B', 'C'])

In [16]:
dict1.values()

dict_values([[7, 9, 11, 15], [1, 5, 7, 20]])

In [17]:
dict1.items()

dict_items([('B', [7, 9, 11, 15]), ('C', [1, 5, 7, 20])])

In [22]:
for k,v in dict1.items():
    print("{} : {}".format(k,v))

B : [7, 9, 11, 15]
C : [1, 5, 7, 20]

In [23]:
dict2 = {'B':[8,10,12], 'D':[11,17,21]}

In [26]:
dict1

{'B': [8, 10, 12], 'C': [1, 5, 7, 20], 'D': [11, 17, 21]}

In [25]:
dict1.update(dict2)

### Set .. Items are not subscriptable, we can add elements to a set(one allowed)

### To add multiple use update

In [98]:

s = {45,23,34,63,7,9,7,23,11}

In [99]:
s

{7, 9, 11, 23, 34, 45, 63}

In [100]:
s= s.union({8,22,48})

In [109]:
s.pop()

35

In [102]:
s.add(10)

In [103]:
sorted(s)

[7, 8, 9, 10, 11, 22, 23, 45, 48, 63]

In [104]:
s.update([80,57,35])

In [105]:
s

{7, 8, 9, 10, 11, 22, 23, 35, 45, 48, 57, 63, 80}

In [106]:
s.remove(63)

# use discard to avoid errors

In [107]:
s.discard(63)

In [108]:
s

{7, 8, 9, 10, 11, 22, 23, 35, 45, 48, 57, 80}

### Tuple test

In [80]:
t = (1,'A',2.3,[1,5,7])

In [57]:
t.index('A')

1

In [8]:
import pandas as pd

### Create Dataframe from dictionary

In [11]:
pd.DataFrame(dict1)

    A   B
0   1   7
1   5   9
2   7  11
3  20  15